* {
    box-sizing: border-box;
}

.row1 {
    height: 150px;
    border: 2px solid rgb(11, 11, 82);
    display: block;
    font-size: 0px;
}
.col1 {
    height: 100%;
    width: 33.33%;
    border: 2px solid rgb(11, 11, 82);
    display: inline-block;
}

.colbtw {
    height: 100%;
    width: 50%;
    border: 2px solid rgb(11, 11, 82);
    display: inline-block;
}
.rowbtw {
    height: 50%;
    border: 2px solid rgb(11, 11, 82);
    display: block;
}
.col2 {
    height: 100%;
    width: 30%;
    border: 2px solid rgb(11, 11, 82);
    display: inline-block;
}
.col3 {
    height: 100%;
    width: 40%;
    border: 2px solid rgb(11, 11, 82);
    display: inline-block;
}
.rowbtw1 {
    height: 33.33%;
    border: 2px solid rgb(11, 11, 82);
    display: block;
}